.custom-block.info
    background-color: #f3f5f7
    border-color: #3498db
    padding: .1rem 1.5rem
    border-left-width: .5rem
    border-left-style: solid
    margin: 1rem 0
    
p img
    display: block
    margin: 32px auto
    padding: 8px
    background-color: $borderColor

.search-box
    margin-right: 1.5rem !important